* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.list-box {
	width: 960px;
	margin: 50px auto;
}


.list {
	padding: 20px 0 20px 20px;
}

.list:nth-child(odd) {
	background-color: #dcdcdc;
}

.list:nth-child(even) {
	background-color: #ffffff;
}

.color-box {
	padding-top: 50px;
}

.box1, .box5, .box9 {
	background-color: orange;
}

.box2, .box3, .box4, .box6, .box7, .box8 {
	background-color: yellow;
}

.box1, .box2, .box4, .box5 {
	width: 30%;
	height: 200px;
	margin-bottom: 40px;
	margin-right: 5%;
	float: left;
}
.box3, .box6 {
	margin-right: 0;
	width: 30%;
	height: 200px;
	margin-bottom: 40px;
	float: left;
}

.box7, .box8 {
	margin-bottom: 0;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	float: left;
}

.box9 {
	width: 30%;
	height: 200px;
	margin-bottom: 0;
	margin-right: 0;
	float: left;
}